{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex">
    {% include('admin/template.html.twig')%}
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Modifier un produit</h1>
        {{ form_start(form) }}

            <div class="form-row m-auto mb-5">
                <div class="col-md-3">   
                    {{ form_row(form.image.oneFile, {'label': 'Image 1', 'label_attr' : { 'class' : 'img-size'}}) }}
                </div>
                <div class="col-md-3">  
                    {{ form_row(form.image.twoFile, {'label': 'Image 2'}) }}
                </div>
                <div class="col-md-3">  
                    {{ form_row(form.image.threeFile, {'label': 'Image 3'}) }} 
                </div>
            </div>
            <div class="form-row mt-5 text-center">
                <div class="col">
                {{ form_row(form.text, {'label': 'Texte'}) }}
                </div>
            </div>
            <div class="form-row w-75 m-auto text-center">
                <div class="col-md-5 m-auto">
                    {{ form_row(form.price ,{'label': 'Prix'}) }}
                </div>
                <div class="col-md-5 m-auto">
                    {{ form_row(form.stock, {'label': 'Stock'}) }}
                </div> 
            </div> 
            <div class="form-row text-center"> 
                <div class="col">    
                    {{ form_row(form.type, {'label': 'Type'}) }}   
                </div>
            </div>
            <div class="form-row text-center"> 
                <div class="col">    
                    {{ form_row(form.category, {'label': 'Catégorie'}) }}   
                </div>
            </div>
            <div class="form-row text-center">
                <div class="col">
                    {{ form_row(form.collection, {'label': 'Collection'}) }}
                </div>
            </div>
            <button type="button" class="btn button-form" id="add_size">Ajouter une taille</button>
            <div class="form-row text-center">        
                <div class="col form-size{% if product.size.sizeOne %} display-size {% else %} size {% endif %}" id="sizeOne">
                {{ form_row(form.size.sizeOne, {'label': 'Taille 1'}) }}
                </div>
                <div class="col form-size{% if product.size.sizeTwo %} display-size {% else %} size {% endif %}" id="sizeTwo">
                {{ form_row(form.size.sizeTwo, {'label': 'Taille 2'}) }}
                </div>
                <div class="col form-size{% if product.size.sizeThree %} display-size {% else %} size {% endif %}" id="sizeThree">
                {{ form_row(form.size.sizeThree, {'label': 'Taille 3'}) }}
                </div>
                <div class="col form-size{% if product.size.sizeFour %} display-size {% else %} size {% endif %}" id="sizeFour">
                {{ form_row(form.size.sizeFour, {'label': 'Taille 4'}) }}
                </div>
            </div>
            <div class="form-row text-center">
                <div class="col">
                {{ form_row(form.description, {'label': 'Description'}) }}
                </div>
            </div>
            <div class="form-row text-center">
                <div class="col">
                {{ form_row(form.dimensions, {'label': 'Dimensions'}) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.online, {'label': 'En ligne'}) }}
                </div>
            </div>
            <button type="submit" class="btn button-form d-flex">{{ button|default('Enregistrer')}}</button>
        {{ form_end(form) }}
    </div>
</div>
{{ include('footer.html.twig') }}

{% endblock %}
