{{ form_start(formCategory) }}

     <div class="form-row"> 
        <div class="col-md-6">    
            {{ form_row(formCategory.name, {'label': 'Catégorie'}) }}   
        </div>
         <div class="col-md-6">    
            {{ form_row(formCategory.imageFile, {'label': 'Image'}) }}   
        </div>
    </div>
    <button type="submit" class="btn btn-primary">{{ button|default('Ajouter')}}</button>


{{ form_end(formCategory) }}