{% extends 'base.html.twig' %}

{% block body %}
{% include('template.html.twig') %}


<div class="container mt-5">
    <div class="row">
        {% for category in categories %}
        <div class="card-select">
                <figure class="figure">
                    <img src="{{ vich_uploader_asset( category , 'imageFile') | imagine_filter('medium_thumb')}}" alt="{{ category.name }}">
                    <div class="opacity-select"></div>
                    <figcaption>{{ category.name }}</figcaption>
                    {% if is_granted('ROLE_ADMIN') %}
                    <form action="{{path('admin_products_category', { 'id' : category.id })}}" method="get">
                    {% else %}
                    <form action="{{path('products_category', { 'id' : category.id })}}" method="get">
                    {% endif %}
                    <button>Découvrir</button>
                    </form>
                </figure>
                 {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path('update_category', { 'id': category.id })}}"></a>
                {% endif %}
        </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}
