{% extends 'base.html.twig' %}

{% block body %}
{% include('template.html.twig') %}


<div class="container mt-5" id="categories_show">
    <div class="row">
        {% for category in categories %}
        <div class="card-select">
                <a class="w-75 m-auto d-block" href="{{path('products_category', { 'id' : category.id })}}">
                    <figure class="figure">
                        <img src="{{ vich_uploader_asset( category , 'imageFile') | imagine_filter('xs_thumb')}}" alt="{{ category.name }}">
                        <figcaption><p href="{{path('products_category', { 'id' : category.id })}}">{{ category.name }}</p></figcaption>
                        <img src="{{ vich_uploader_asset( category , 'imageFileTwo') | imagine_filter('xs_thumb')}}" alt="">                    
                    </figure>
                </a>
        </div>
        {% endfor %}
    </div>    
</div>
{{ include('footer.html.twig') }}

{% endblock %}
