<div id="mySidenav" class="sidenav">
<ul class="nav nav-pills">
    <li class="nav-item dropdown">
        {% set i = 0 %}
        <a class="nav-link dropdown-toggle" id="toggle-{{ i }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produits</a>
        {% set j = 0 %}
        <div class="drop-menu" id="menu-{{ j }}"> 
            <a class="dropdown-item" id="" href="{{ path('admin_products')}}">Afficher les produits</a>
            <a class="dropdown-item" id="" href="{{ path('add_product')}}">Ajouter un produit</a>
        </div>  
    </li>
        {% set i = i + 1 %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="toggle-{{ i }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
        {% set j = j + 1 %}
        <div class="drop-menu" id="menu-{{ j }}">
            <a class="dropdown-item" href="{{ path('admin_category')}}">Afficher les catégories</a>
            <a class="dropdown-item" href="{{ path('add_category')}}">Ajouter nouvelle Catégorie</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
  </li>
        {% set i = i + 1 %}
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="toggle-{{ i }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections</a>
        {% set j = j + 1 %}
        <div class="drop-menu" id="menu-{{ j }}">
            <a class="dropdown-item" href="{{ path('admin_collection')}}">Afficher les collections</a>
            <a class="dropdown-item" href="{{ path('add_collection')}}">Ajouter nouvelle collection</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('stock')}}">Gestion des Stocks</a>
  </li>
  {# <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li> #}
</ul>
</div>
<hr>
