{{ form_start(formCollection) }}

     <div class="form-row"> 
        <div class="col-md-6">    
            {{ form_row(formCollection.name, {'label': 'Collection'}) }}   
        </div>
        <div class="col-md-6">    
            {{ form_row(formCollection.zeroWaste, {'label': 'zero-dechet'}) }}   
        </div>
         <div class="col-md-6">    
            {{ form_row(formCollection.imageFile, {'label': 'Image'}) }}   
        </div>     
    </div>
    <button type="submit" class="btn btn-primary">{{ button|default('Ajouter')}}</button>

{{ form_end(formCollection) }}