{% extends 'base.html.twig' %}

{% block body %}
{% include('template.html.twig') %}


<div class="container mt-5" id="collections_show">
    <div class="row">
        {% for collection in collections %}
        <div class="card-select">
                <a class="w-75 m-auto d-block" href="{{path('products_collection', { 'id' : collection.id })}}">
                    <figure class="figure">
                        <img src="{{ vich_uploader_asset( collection , 'imageFile') | imagine_filter('xs_thumb')}}" alt="{{ collection.name }}">
                        <figcaption><p href="{{path('products_collection', { 'id' : collection.id })}}">{{ collection.name }}</p></figcaption>
                    </figure>
                </a>
        </div>
    
        {% endfor %}
    </div>    
</div>
{{ include('footer.html.twig') }}

{% endblock %}
