{% extends 'base.html.twig' %}
{% block body %}

<div class="container mb-5">
    <div class="row text-center mt-5" id="logo">
        <div class="col">
            <img src="{{ asset('images/Logo-couleur-vectorisé.png') }}" alt="logo">
        </div>
    </div>
    <div class="naviguation">
    <div class="row justify-content-center mt-5">
        <ul class="nav" id="nav">
            <li class="nav-item">
                <a class="nav-link black-item" id="home" href="/accueil"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link black-item boutique" id="boutique"href="{{ path("category") }}">BOUTIQUE<i class="fas fa-angle-down boutique"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link black-item" id="apropos" href="{{path('a_propos')}}">A PROPOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link black-item" id="point_vente" href="{{path('points_sale')}}">POINTS DE VENTE</a>
            </li>
             <li class="nav-item">
                <a class="nav-link black-item" id="contact" href="{{path('contact')}}">CONTACT</a>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center mt-5">
        <ul class="nav">
            <li class="nav-item">
                <i class="fas fa-search"></i>
            </li>
            <li class="nav-item"><img src="{{ asset('images/icons8-panier-préféré-80.png') }}" alt=""></li>
        </ul>
    </div>
    </div>

</div>
 <hr>

{% endblock %}