{{ form_start(form) }}

    <div class="form-row">
        <div class="col-md-3">   
            {{ form_row(form.image.oneFile, {'label': 'Image 1'}) }}
        </div>
        <div class="col-md-3">  
            {{ form_row(form.image.twoFile, {'label': 'Image 2'}) }}
        </div>
        <div class="col-md-3">  
            {{ form_row(form.image.threeFile, {'label': 'Image 3'}) }} 
        </div>
        <div class="col-md-3">  
            {{ form_row(form.image.fourFile, {'label': 'Image 4'}) }}
        </div>
    </div>
    <div class="form-row mb-3">
        <div class="col-md-4">
            {{ form_row(form.price.TTC, {'label': 'Prix TTC'}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.price.TVA, {'label': 'TVA'}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.price.HT, {'label': 'Prix HT'}) }}
        </div>
    </div>     
    <div class="form-row"> 
        <div class="col-md-6">    
            {{ form_row(form.category, {'label': 'Catégorie'}) }}   
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ form_row(form.collection, {'label': 'Collection'}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ form_row(form.description) }}
        </div> 
    </div>
    <div class="form-row">
        <div class="col-md-6">
            {{ form_row(form.addInformation.dimension, {'label': 'Dimensions'}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.addInformation.tissue, {'label': 'Tissue'}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.stock, {'label': 'Stock'}) }}
        </div>
    </div>
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">{{ button|default('Enregistrer')}}</button>
{{ form_end(form) }}            
